.detail {
    font-size: 14px;
    margin: 3px 0;
}

.login-message {
    font-size: 16px;
    margin-top: 20px;
}

.custom-badge {
    padding: 8px 12px;
    font-size: 1.2rem;
}

.navbar-nav .dropdown-menu {
    min-width: 400px !important; 
}

#filterCard .card-body{
    padding: 20px;
    min-height: 410px;
    max-height: 410px;
}

#product {
    padding: 20px;
    background-color: rgb(255, 255, 255);   
}

body {
    background: linear-gradient(90deg, rgb(176, 226, 255), rgb(200, 200, 200));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 24px 0 rgba(0, 0, 0, 0.15);
}

.btn {
    background-color: rgb(100, 150, 255);
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(80, 130, 240);
}
